@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

header {
  background-color: #ffffffbf;
  border-bottom: 1px solid #0000001a;
  filter: saturate(2);
  backdrop-filter: blur(4px);
}

header:is(.dark *) {
  background-color: #00000080;
  border-bottom: 1px solid #FFFFFF40;
}